/.vs/CasoPro3500Controller/v16/.suo
/.vs/CasoPro3500Controller/v16/Browse.VC.db
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/10df695a4eb689b9/.CASOPRO3500CONTROLLER.VSARDUINO.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/22b671f984c3d04c/CONTROL.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/5d9c92717509e105/TEMPERATURESENSOR.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/8255ff4d9f8d97d6/BLUETOOTH.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/8f0968046dde19b3/BLUETOOTH.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/a9f5b9d8e3ad4c3d/CONTROL.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/d5bf75b03b239df8/RELAY.ipch
/.vs/CasoPro3500Controller/v16/ipch/AutoPCH/fe4a3dfc39f3d379/RELAY.ipch
/__vm/.CasoPro3500Controller.vsarduino.h
/__vm/Compile.vmps.xml
/__vm/Configuration.Debug.vmps.xml
/__vm/Upload.vmps.xml
/Debug/BLE/BLE2902.cpp.d
/Debug/BLE/BLE2902.cpp.o
/Debug/BLE/BLE2904.cpp.d
/Debug/BLE/BLE2904.cpp.o
/Debug/BLE/BLEAddress.cpp.d
/Debug/BLE/BLEAddress.cpp.o
/Debug/BLE/BLEAdvertisedDevice.cpp.d
/Debug/BLE/BLEAdvertisedDevice.cpp.o
/Debug/BLE/BLEAdvertising.cpp.d
/Debug/BLE/BLEAdvertising.cpp.o
/Debug/BLE/BLEBeacon.cpp.d
/Debug/BLE/BLEBeacon.cpp.o
/Debug/BLE/BLECharacteristic.cpp.d
/Debug/BLE/BLECharacteristic.cpp.o
/Debug/BLE/BLECharacteristicMap.cpp.d
/Debug/BLE/BLECharacteristicMap.cpp.o
/Debug/BLE/BLEClient.cpp.d
/Debug/BLE/BLEClient.cpp.o
/Debug/BLE/BLEDescriptor.cpp.d
/Debug/BLE/BLEDescriptor.cpp.o
/Debug/BLE/BLEDescriptorMap.cpp.d
/Debug/BLE/BLEDescriptorMap.cpp.o
/Debug/BLE/BLEDevice.cpp.d
/Debug/BLE/BLEDevice.cpp.o
/Debug/BLE/BLEEddystoneTLM.cpp.d
/Debug/BLE/BLEEddystoneTLM.cpp.o
/Debug/BLE/BLEEddystoneURL.cpp.d
/Debug/BLE/BLEEddystoneURL.cpp.o
/Debug/BLE/BLEExceptions.cpp.d
/Debug/BLE/BLEExceptions.cpp.o
/Debug/BLE/BLEHIDDevice.cpp.d
/Debug/BLE/BLEHIDDevice.cpp.o
/Debug/BLE/BLERemoteCharacteristic.cpp.d
/Debug/BLE/BLERemoteCharacteristic.cpp.o
/Debug/BLE/BLERemoteDescriptor.cpp.d
/Debug/BLE/BLERemoteDescriptor.cpp.o
/Debug/BLE/BLERemoteService.cpp.d
/Debug/BLE/BLERemoteService.cpp.o
/Debug/BLE/BLEScan.cpp.d
/Debug/BLE/BLEScan.cpp.o
/Debug/BLE/BLESecurity.cpp.d
/Debug/BLE/BLESecurity.cpp.o
/Debug/BLE/BLEServer.cpp.d
/Debug/BLE/BLEServer.cpp.o
/Debug/BLE/BLEService.cpp.d
/Debug/BLE/BLEService.cpp.o
/Debug/BLE/BLEServiceMap.cpp.d
/Debug/BLE/BLEServiceMap.cpp.o
/Debug/BLE/BLEUtils.cpp.d
/Debug/BLE/BLEUtils.cpp.o
/Debug/BLE/BLEUUID.cpp.d
/Debug/BLE/BLEUUID.cpp.o
/Debug/BLE/BLEValue.cpp.d
/Debug/BLE/BLEValue.cpp.o
/Debug/BLE/FreeRTOS.cpp.d
/Debug/BLE/FreeRTOS.cpp.o
/Debug/BLE/GeneralUtils.cpp.d
/Debug/BLE/GeneralUtils.cpp.o
/Debug/Bluetooth.cpp.d
/Debug/Bluetooth.cpp.o
/Debug/board.buildinfo
/Debug/CasoPro3500Controller.bin
/Debug/CasoPro3500Controller.cpp.d
/Debug/CasoPro3500Controller.cpp.o
/Debug/CasoPro3500Controller.elf
/Debug/CasoPro3500Controller.ino.bin
/Debug/CasoPro3500Controller.ino.elf
/Debug/CasoPro3500Controller.ino.partitions.bin
/Debug/CasoPro3500Controller.partitions.bin
/Debug/Control.cpp.d
/Debug/Control.cpp.o
/Debug/DallasTemperature/DallasTemperature.cpp.d
/Debug/DallasTemperature/DallasTemperature.cpp.o
/Debug/OneWire/OneWire.cpp.d
/Debug/OneWire/OneWire.cpp.o
/Debug/Relay.cpp.d
/Debug/Relay.cpp.o
/Debug/TemperatureSensor.cpp.d
/Debug/TemperatureSensor.cpp.o
/.vs/CasoPro3500Controller/v16/Browse.VC.db-shm
/.vs/CasoPro3500Controller/v16/Browse.VC.opendb
/.vs/CasoPro3500Controller/v16/Browse.VC.db-wal
